.greenBtn-enter-active {
    animation: greenBtn 0.5s;
}
.greenBtn-leave-active {
    animation: greenBtn 0.5s reverse;
}

.showHide-enter-active {
    animation: showHide 0.5s ease;
}
.showHide-leave-active {
    animation: showHide 0.5s reverse;
}

.showCart-enter-active {
    animation: showCart 1s;
}
.showCart-leave-active {
    animation: showCart 0.5s reverse;
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.2s;
  max-height: 230px;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
  opacity: 0;
  max-height: 0px;
}
  

.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.2s;
  max-height: 100%;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
  opacity: 0;
  max-height: 0px;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
@keyframes greenBtn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes showHide {
    0% {
        top: -500px;
        opacity: 0;
    }
    30% {
        top: 30px;
        opacity: 0;
    }
    100% {
        top: 100px;
        opacity: 1;
    }
}
@keyframes showCart {
    0% {
        right: -1000px;
    }
    100% {
        right: 0;
    }
}


.path {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: dash 2s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) alternate infinite;
}

@keyframes dash {
from {
    stroke-dashoffset: 0;
}
to {
    stroke-dashoffset: 400;
}
}