.newPage{
    padding: 217px 0;
}
.newPage h2{
    text-align: center;
    color: #470D04;
    font-size: 24px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.newPage button{
    margin: 0 auto;
}
.newPage a{
    margin: 0 auto;
    color: #00A439;
    font-size: 18px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}